.paletteButton {
}

/* From comment on this: */
/* https://stackoverflow.com/questions/28358595/css-put-something-to-the-left-of-a-centered-element */
.canvasContainerDiv {
    text-align: center;
}

.circuitAreaDiv {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 50%;
}

.paletteDiv {
    position: relative;
}

.canvasBorder {
    border: 0.1em solid #444444;
    border-radius: 0.5em;
    width: 50em;
    height: 50em;
}